### 라이브러리

In [26]:
import random
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

### 파라미터

In [2]:
data_path = './wine.csv'

### 데이터 읽기

In [19]:
wine_df = pd.read_csv(data_path, names=[f'featrue{i}'for i in range(12)]+['label'])
wine_df.head(5)

,featrue0,featrue1,featrue2,featrue3,featrue4,featrue5,featrue6,featrue7,featrue8,featrue9,featrue10,featrue11,label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

### 임의의 feature 값 추가

In [20]:
add_feature = [random.randint(1,100) for _ in range(6497)] 
wine_df.insert(12, 'feature12', add_feature)
wine_df

,featrue0,featrue1,featrue2,featrue3,featrue4,featrue5,featrue6,featrue7,featrue8,featrue9,featrue10,featrue11,feature12,label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,24,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,37,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,77,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,10,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,32,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,68,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,21,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,15,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,5,0

### 데이터 스케일링

In [21]:
wine_df.describe()

,featrue0,featrue1,featrue2,featrue3,featrue4,featrue5,featrue6,featrue7,featrue8,featrue9,featrue10,featrue11,feature12,label
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,50.994767,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,28.831999,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,1.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,26.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,51.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,76.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,100.000000,1.000000

In [22]:
# x data
x_data = wine_df.iloc[:, :-1].copy()
x_data.head(3)

,featrue0,featrue1,featrue2,featrue3,featrue4,featrue5,featrue6,featrue7,featrue8,featrue9,featrue10,featrue11,feature12
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,24
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,37
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,77

In [23]:
# y data
y_data = wine_df['label'].values

In [29]:
scaler = MinMaxScaler().fit(x_data)
output = scaler.transform(x_data)
prepro_x = pd.DataFrame(output, columns=x_data.columns, index=list(x_data.index.values))
prepro_x.head(3)

,featrue0,featrue1,featrue2,featrue3,featrue4,featrue5,featrue6,featrue7,featrue8,featrue9,featrue10,featrue11,feature12
0,0.297521,0.413333,0.000000,0.019939,0.111296,0.034722,0.064516,0.206092,0.612403,0.191011,0.202899,0.333333,0.232323
1,0.330579,0.533333,0.000000,0.030675,0.147841,0.083333,0.140553,0.186813,0.372093,0.258427,0.260870,0.333333,0.363636
2,0.330579,0.453333,0.024096,0.026074,0.137874,0.048611,0.110599,0.190669,0.418605,0.241573,0.260870,0.333333,0.767677

In [32]:
onehot = OneHotEncoder()
prepro_y = onehot.fit_transform(y_data.reshape(-1, 1))
prepro_y.toarray()

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])