In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
path = './현대차LSV/210715_구성원LSV(18-20).xlsx'
lsv20 = pd.read_excel(path, sheet_name=6)

In [4]:
lsv20

,사원번호,20_1,20_2,20_3,20_4,20_5,20_6,20_7,20_8,20_9,...,20_26,20_27,20_28,20_29,20_30,피플_mean,비즈니스_mean,종합_mean,전체_mean,질문항목별_mean
0,1686251,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,4.90,4.750,5.0,4.866667,4.883333
1,1686251,5,5,4,5,4,5,5,5,5,...,5,5,5,5,5,4.90,5.000,5.0,4.933333,4.966667
2,1686251,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3.00,3.000,3.0,3.000000,3.000000
3,1686251,5,4,4,4,4,4,5,5,4,...,5,5,5,5,5,4.60,4.500,5.0,4.600000,4.700000
4,1686251,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.00,5.000,5.0,5.000000,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17231,9965813,4,4,5,4,4,4,4,4,5,...,4,5,4,4,4,4.20,4.375,4.0,4.233333,4.191667
17232,9965813,5,4,5,5,4,4,4,4,5,...,5,5,5,3,5,4.55,3.875,4.0,4.333333,4.141667
17233,9965813,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4.00,3.500,4.0,3.866667,3.833333
17234,9965813,3,2,3,3,2,3,4,4,3,...,2,5,3,3,2,3.15,3.000,2.5,3.066667,2.883333
17235,9965813,4,3,3,3,4,3,4,3,4,...,3,4,3,3,4,3.40,3.375,3.5,3.400000,3.425000

In [10]:
# 평균 이하는 0 , 평균 초과는 1 레이블 달기
lsv20['lable'] = 0
lsv20.loc[lsv20['전체_mean'] > lsv20['전체_mean'].mean(), 'lable' ] = 1
lsv20

,사원번호,20_1,20_2,20_3,20_4,20_5,20_6,20_7,20_8,20_9,...,20_27,20_28,20_29,20_30,피플_mean,비즈니스_mean,종합_mean,전체_mean,질문항목별_mean,lable
0,1686251,5,5,5,5,5,5,5,5,5,...,5,5,5,5,4.90,4.750,5.0,4.866667,4.883333,1
1,1686251,5,5,4,5,4,5,5,5,5,...,5,5,5,5,4.90,5.000,5.0,4.933333,4.966667,1
2,1686251,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3.00,3.000,3.0,3.000000,3.000000,0
3,1686251,5,4,4,4,4,4,5,5,4,...,5,5,5,5,4.60,4.500,5.0,4.600000,4.700000,1
4,1686251,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5.00,5.000,5.0,5.000000,5.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17231,9965813,4,4,5,4,4,4,4,4,5,...,5,4,4,4,4.20,4.375,4.0,4.233333,4.191667,1
17232,9965813,5,4,5,5,4,4,4,4,5,...,5,5,3,5,4.55,3.875,4.0,4.333333,4.141667,1
17233,9965813,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4.00,3.500,4.0,3.866667,3.833333,0
17234,9965813,3,2,3,3,2,3,4,4,3,...,5,3,3,2,3.15,3.000,2.5,3.066667,2.883333,0
17235,9965813,4,3,3,3,4,3,4,3,4,...,4,3,3,4,3.40,3.375,3.5,3.400000,3.425000,0

In [14]:
# 평균 컬럼 삭제하기
lsv20.drop(lsv20.columns[-6:-1], axis=1, inplace=True)
lsv20

,사원번호,20_1,20_2,20_3,20_4,20_5,20_6,20_7,20_8,20_9,...,20_22,20_23,20_24,20_25,20_26,20_27,20_28,20_29,20_30,lable
0,1686251,5,5,5,5,5,5,5,5,5,...,4,5,5,4,5,5,5,5,5,1
1,1686251,5,5,4,5,4,5,5,5,5,...,5,5,5,5,5,5,5,5,5,1
2,1686251,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,0
3,1686251,5,4,4,4,4,4,5,5,4,...,5,5,5,4,5,5,5,5,5,1
4,1686251,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17231,9965813,4,4,5,4,4,4,4,4,5,...,4,4,4,4,4,5,4,4,4,1
17232,9965813,5,4,5,5,4,4,4,4,5,...,5,5,5,4,5,5,5,3,5,1
17233,9965813,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,0
17234,9965813,3,2,3,3,2,3,4,4,3,...,4,3,3,4,2,5,3,3,2,0
17235,9965813,4,3,3,3,4,3,4,3,4,...,4,3,4,3,3,4,3,3,4,0

In [22]:
X = lsv20.iloc[:,1:-1].copy()
y = lsv20.iloc[:,-1:].copy()

In [26]:
X.values

array([[5, 5, 5, ..., 5, 5, 5],
       [5, 5, 4, ..., 5, 5, 5],
       [3, 3, 3, ..., 3, 3, 3],
       ...,
       [4, 4, 4, ..., 4, 4, 4],
       [3, 2, 3, ..., 3, 3, 2],
       [4, 3, 3, ..., 3, 3, 4]], dtype=int64)

In [24]:
y

       lable
0          1
1          1
2          0
3          1
4          1
...      ...
17231      1
17232      1
17233      0
17234      0
17235      0

[17236 rows x 1 columns]

In [27]:
x_train, x_test, y_train, y_test = train_test_split(lsv20.iloc[:,1:-1], lsv20['lable'], 
                                                    test_size=0.2, 
                                                    stratify=lsv20['lable'], 
                                                    random_state=0)

In [28]:
x_train

,20_1,20_2,20_3,20_4,20_5,20_6,20_7,20_8,20_9,20_10,...,20_21,20_22,20_23,20_24,20_25,20_26,20_27,20_28,20_29,20_30
7499,4,4,4,3,3,3,4,4,4,4,...,4,3,4,4,4,4,4,4,4,4
12463,5,5,5,3,2,5,4,5,2,2,...,5,4,4,5,5,4,5,4,5,5
14338,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,4
15255,4,4,4,2,2,2,4,4,2,2,...,3,2,3,5,4,3,5,3,2,1
15552,4,4,4,5,5,5,5,5,5,4,...,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14289,4,5,4,4,4,5,4,4,3,3,...,4,4,4,4,4,4,4,3,5,5
15013,4,4,2,4,3,2,4,3,4,1,...,3,3,3,3,4,4,4,4,3,4
11654,4,2,4,3,3,3,4,4,4,3,...,3,2,3,3,4,3,5,3,2,2
11600,3,2,3,3,3,4,4,4,3,2,...,2,4,3,3,3,3,4,3,3,3
9997,1,2,2,1,2,1,2,2,2,2,...,2,1,1,1,1,2,1,2,2,1

In [29]:
y_train

7499     0
12463    0
14338    1
15255    0
15552    1
        ..
14289    1
15013    0
11654    0
11600    0
9997     0
Name: lable, Length: 13788, dtype: int64

In [34]:
# 랜덤 포레스트 객체 정의
forest = RandomForestClassifier(n_estimators=100, random_state=1)
forest.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [36]:
print('훈련 세트 정확도: {:.3f}'.format(forest.score(x_train, y_train)))
print('테스트 세트 정확도: {:.3f}'.format(forest.score(x_test, y_test)))

훈련 세트 정확도: 1.000
테스트 세트 정확도: 0.979